<%- include("./components/header.ejs") %>
    <div class="flex justify-center h-screen text-white ">
        <div class="p-2 flex w-[380px] flex-col gap-[8px] relative h-screen">
            <div class="flex justify-between w-full ">
                <div>
                    <p class="text-xl">
                        <%= user.username %>
                    </p>
                </div>
                <div class="relative">
                    <svg id="ham" class="h-6 cursor-pointer" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                        <path
                            d="M0 96C0 78.3 14.3 64 32 64l384 0c17.7 0 32 14.3 32 32s-14.3 32-32 32L32 128C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32l384 0c17.7 0 32 14.3 32 32s-14.3 32-32 32L32 288c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32L32 448c-17.7 0-32-14.3-32-32s14.3-32 32-32l384 0c17.7 0 32 14.3 32 32z"
                            fill="white" />
                    </svg>
                    <div>
                        <ul id="ul" class="bg-gray-900 hidden">
                            <li class="p-2"><a href="/logout">Logout</a></li>
                            <li class="p-2"><a href="/editprofile">Edit</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="flex w-full justify-between pl">
                <div class="w-[100px] h-[100px] rounded-full bg-slate-500 overflow-hidden">
                    <img class="w-full h-full object-cover" src="/images/uploads/<%= user.profilePic %>"
                        alt="">
                </div>

                <div class="flex flex-col justify-center p-[10px]">
                    <h4 class="font-semibold text-center">143</h4>
                    <p class="text-[14px]">Posts</p>
                </div>
                <div class="flex flex-col justify-center p-2">
                    <h4 class="font-semibold text-center">143</h4>
                    <p class="text-[14px]">Followers</p>
                </div>
                <div class="flex flex-col justify-center p-2 mr-[10px]">
                    <h4 class="font-semibold text-center">143</h4>
                    <p class="text-[14px]">Following</p>
                </div>
            </div>

            <div class="pl-[10px]">
                <h3 class="font-semibold">
                    <%= user.fullname %>
                </h3>
                <p class="text-[13px]">
                    <%= user.bio %>
                </p>
            </div>

            <div class="mt-[25px]">
                <button class="border-[0.8px] border-slate-200 p-[7px] rounded-md"><a href="/editprofile">Edit
                        Profile</a></button>
            </div>
            <hr class="mt-[10px]">
            <div class="w-full flex justify-start flex-wrap gap-x-[4px] gap-y-[4px] overflow-scroll mb-[10px]">
                <% if(user.posts.reverse().forEach((element)=> { %>
                    <div class="w-[113px] h-[120px] bg-slate-500"><img class="w-full h-full" src="/images/uploads/<%=element.postImage%>" alt=""></div>
                    <% })) %>
                        
            </div>
            <div class="w-full flex justify-between absolute bottom-[5px] bg-black p-[10px]">
                <a href="/feed">
                    <svg class="h-6" xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="0 0 576 512">
                        <path
                            d="M575.8 255.5c0 18-15 32.1-32 32.1l-32 0 .7 160.2c0 2.7-.2 5.4-.5 8.1l0 16.2c0 22.1-17.9 40-40 40l-16 0c-1.1 0-2.2 0-3.3-.1c-1.4 .1-2.8 .1-4.2 .1L416 512l-24 0c-22.1 0-40-17.9-40-40l0-24 0-64c0-17.7-14.3-32-32-32l-64 0c-17.7 0-32 14.3-32 32l0 64 0 24c0 22.1-17.9 40-40 40l-24 0-31.9 0c-1.5 0-3-.1-4.5-.2c-1.2 .1-2.4 .2-3.6 .2l-16 0c-22.1 0-40-17.9-40-40l0-112c0-.9 0-1.9 .1-2.8l0-69.7-32 0c-18 0-32-14-32-32.1c0-9 3-17 10-24L266.4 8c7-7 15-8 22-8s15 2 21 7L564.8 231.5c8 7 12 15 11 24z" />
                    </svg>
                </a>
                <a href="/search">
                    <svg class="h-6" xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="0 0 512 512">
                        <path
                            d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z" />
                    </svg>
                </a>
                <a href="/uploadPost">
                    <svg class="h-6" xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="0 0 448 512">
                        <path
                            d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 144L48 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l144 0 0 144c0 17.7 14.3 32 32 32s32-14.3 32-32l0-144 144 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-144 0 0-144z" />
                    </svg>
                </a>
                <a href="/profile">
                    <svg class="h-6" xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="0 0 448 512">
                        <path
                            d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512l388.6 0c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304l-91.4 0z" />
                    </svg>
                </a>
            </div>
        </div>
    </div>
    <script>
        document.querySelector("#ham").addEventListener("click", (event) => {
    document.querySelector("#ul").style.display = "inline";
    document.querySelector("#ham").style.display = "none";
    event.stopPropagation(); // Prevents the document click event from firing
});

document.addEventListener("click", () => {
    const val = document.querySelector("#ul");
    if (val.style.display === "inline") {
        console.log('lol');
        document.querySelector("#ul").style.display = "none";
        document.querySelector("#ham").style.display = "inline";
    }
});

    </script>